.agents/skills/fangcun-write/tools/builtin/preset-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!--
    preset-schema.xsd — Unified schema definition for all builtin XML tool files.

    Validates the <tool> root element and its children.
    Derived from structural analysis of all 26 builtin/*.xml files.
  -->

  <!-- Root element: tool definition for fangcun-write builtin presets -->
  <xs:element name="tool">
    <xs:annotation>
      <xs:documentation>
        Root element for every builtin XML tool definition.
        Contains metadata and the full prompt template.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>

        <!-- ============================================================ -->
        <!-- REQUIRED FIELDS (present in all 26 builtin XML files)        -->
        <!-- ============================================================ -->

        <!--
          name: Human-readable tool name in Chinese.
          Used as the display title in the agent tool picker UI.
        -->
        <xs:element name="name" type="xs:string" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Tool display name, e.g. "写章助手", "去AI味".</xs:documentation>
          </xs:annotation>
        </xs:element>

        <!--
          icon: Single emoji character for visual identification.
          Displayed alongside the name in the tool picker.
        -->
        <xs:element name="icon" type="xs:string" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Emoji icon for UI display, e.g. "✍️", "🛡️".</xs:documentation>
          </xs:annotation>
        </xs:element>

        <!--
          phase: Pipeline stage identifier.
          Determines when in the writing workflow this tool is available.
          Common values: source-analysis, open-book, write, deslop, postfix, compare, etc.
        -->
        <xs:element name="phase" type="xs:string" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Pipeline phase: source-analysis, open-book, write, deslop, postfix, compare, chat, etc.</xs:documentation>
          </xs:annotation>
        </xs:element>

        <!--
          temperature: LLM generation temperature, range 0.0-2.0.
          Lower = more deterministic; higher = more creative.
        -->
        <xs:element name="temperature" minOccurs="1">
          <xs:annotation>
            <xs:documentation>LLM temperature 0.0-2.0. Lower for analytic tasks, higher for creative writing.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:minInclusive value="0"/>
              <xs:maxInclusive value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <!--
          author: Creator or maintainer of the tool preset.
          Typically "方寸官方" for all builtin presets.
        -->
        <xs:element name="author" type="xs:string" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Tool author/creator, e.g. "方寸官方".</xs:documentation>
          </xs:annotation>
        </xs:element>

        <!--
          tags: Comma-separated functional tags for filtering.
          Used to categorize and discover tools (e.g., "正文,男频,女频").
        -->
        <xs:element name="tags" type="xs:string" minOccurs="1">
          <xs:annotation>
            <xs:documentation>Comma-separated tags for categorization and filtering.</xs:documentation>
          </xs:annotation>
        </xs:element>

        <!--
          prompt: The main instruction template sent to the LLM.
          Content uses CDATA section to safely embed markdown, special characters,
          and variable references (e.g. @故事名称, @当前章节号).
          Type xs:string fully supports CDATA-wrapped text content.
        -->
        <xs:element name="prompt" type="xs:string" minOccurs="1">
          <xs:annotation>
            <xs:documentation>
              Main prompt template (CDATA-wrapped markdown with @variable references).
              May contain embedded XML-like structures in output format instructions.
            </xs:documentation>
          </xs:annotation>
        </xs:element>

        <!-- ============================================================ -->
        <!-- OPTIONAL FIELDS                                              -->
        <!-- ============================================================ -->

        <!--
          description: One-sentence summary of what this tool does.
          Shown in tool selection UI to help users choose the right tool.
          Missing in 1 of 26 files (open-book.xml).
        -->
        <xs:element name="description" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Brief description of the tool's purpose and behavior.</xs:documentation>
          </xs:annotation>
        </xs:element>

        <!--
          author_type: Classification of the author (官方/社区/第三方).
          Present in 22 of 26 files; always "官方" for builtins.
        -->
        <xs:element name="author_type" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Author type: "官方" for builtin, "社区" for community contributions.</xs:documentation>
          </xs:annotation>
        </xs:element>

        <!--
          category: Functional category grouping.
          Groups tools by their domain (e.g., 拆书, 人设, 正文, 大纲, 开书, 其他).
          Present in 22 of 26 files.
        -->
        <xs:element name="category" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Functional category: 拆书, 人设, 正文, 大纲, 开书, 黄金开篇, 其他, etc.</xs:documentation>
          </xs:annotation>
        </xs:element>

        <!--
          output: Description of the tool's expected output format or artifact.
          Present in 22 of 26 files. Use comma separation for multiple outputs.
        -->
        <xs:element name="output" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Expected output artifact(s), e.g. "正文", "章纲", "总纲,卷纲,角色,简介".</xs:documentation>
          </xs:annotation>
        </xs:element>

        <!--
          variables: Comma-separated list of injectable @variables with optional (必选/可选) markers.
          Present in 4 of 26 files (deslop, plot-guide, postfix, write-chapter).
        -->
        <xs:element name="variables" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Variable definitions for template injection, e.g. "本章正文(必选),关联章节(可选)".</xs:documentation>
          </xs:annotation>
        </xs:element>

        <!--
          source: Version/path tracking for the prompt source material.
          Present in 7 of 26 files. Typically "prompts/{name}.md v{version}".
        -->
        <xs:element name="source" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Source file path and version, e.g. "prompts/deslop.md v3".</xs:documentation>
          </xs:annotation>
        </xs:element>

        <!--
          opening: Greeting message shown when an interactive tool is first invoked.
          Present in 2 of 26 files (character-designer, chat-assistant).
          Tools without this field start silently.
        -->
        <xs:element name="opening" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Opening greeting for interactive/chat-style tools.</xs:documentation>
          </xs:annotation>
        </xs:element>

      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
